MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
JWT_SECRET=
AWS_S3_BUCKET=
AWS_S3_REGION=ap-northeast-2
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
OAUTH2_REDIRECT_URL=http://localhost:3000/oauth2/callback
CLAUDE_API_KEY=
